.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}
 
.bm-burger-bars {
  background: #F28737;
}

.bm-burger-bars-hover {
  background: #28B4C0;
}

.bm-cross-button {
  height: 35px;
  width: 35px;
}
 
.bm-cross {
  background: #5C6B73;
}

.bm-menu-wrap{
  position : fixed;
  left : 0px;
}

.bm-menu {
  background: #28B4C0;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  
}

 .bm-overlay {
  display : none;
} 
