.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 20px;
  top: 26px;
}
 
.bm-burger-bars {
  background: #F28737;
}

.bm-burger-bars-hover {
  background: #28B4C0;
}

.bm-cross-button button{
  right: 0px !important;
  left: -28px !important;
  top: 24px!important;
  width: 40px !important;
  height: 40px !important;
}
 
.bm-cross {
  background: #F28737;
  width: 6px!important;
  height: 30px !important;
  right: 15px !important;
  top:20px !important
}

.bm-menu-wrap{
box-shadow: 10px 0px 6px #3945465e;
left: -10px;
}

.bm-menu {
  background: #28B4C0;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  
}

.bm-overlay {
  display : none;
} 

.bm-item-list {
  margin-top: 60px;
  height: 0 !important;
}

.menu-item {
  font-size: 2em;
  text-align: right;
}
