.checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inputDate {
    display: flex;
    flex-direction: column;
}

.inputDate label {
    padding-top: 20px;
    font-weight: 500;
    padding-bottom: 10px;
    font-weight: 800;
}

.modal-holder {
    width: 95%;
    margin: auto;
    padding: 0
}
.modal-holder .modal {
    position: fixed;
    left: 5vw;
    z-index: 2;
}
.modal {
    width: 90vw;
    margin: auto;
    color:#fff;
    text-align: center;
    letter-spacing: 0.0625rem;
    margin-top: -18vh;
    font-weight: 300;
    background: #28B4C0;
    border-radius: 0.4375rem;
    padding-bottom: 10%;
    position: absolute;
    top: 235px;
    height: 576px;
}
.modal h4,h6{
    color: rgba(242,135,55);
}
.modal__close {
    position: absolute;
    top: .3rem;
    right: .5rem;
    display: inline-block;
    font-size: 1.7em;
    color:#F28737;
    padding: 0px 2px;
}
.modal__close:hover {
    opacity: 0.75;
    cursor: pointer;
}
.modal__header h3{
    font-size: 2rem;
    margin: 30px 0px 0px 0px;
    text-align: center;
    line-height: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    text-shadow: 1px 1px 2px #5C6B73;
    line-height: 2;
}
.modal__description {
    font-size: 1em;
    color: #fff;
    width: 100%;
    text-align: left;
}

.modal__description h3{
    text-transform: uppercase;
    font-size: 1.5em;
}

.modal__description .form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 5%;
    margin-bottom: 15%;
    align-items: flex-start;
}

.modal__description .form button{
    text-align: left;
    background-color: #F28737;
    border-radius: 8px;
    border: none;
    padding: 10px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    bottom: -109px;
    left: -31vw;
    width: 160px;
    height: 70px;
    font-size: 1.3em;
    font-weight: bold;
}

.modal__description .form .nom-med{
    padding-top: 20px;
    font-weight: 500;
    padding-bottom: 10px;
    font-weight: 800;
}

.modal__description .container-checks{
    display: block;
    position: relative;
    padding-left: 5px;
    margin-bottom: 12px;
    margin-top: 15px;
}

.modal__description .form .container-checks .nom-med{
    margin-left: 25px;
}

.modal__description .form .text-info{
    padding: 10px;
    width: 74vw;
}

.modal__description .container-checks .text-casse{
    position: absolute;
    cursor: pointer;
    top: 5px;
}
.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background: rgba(40,180,192,0.45);
    z-index: 1;
}
