.pillbox{
  width: 100%;
}
.pillboxH2{
    text-align: center;
    margin : 20px auto;
}
.pillboxP{
    text-align: center;
    margin-bottom: 20px;
}
.medListContainer{
    margin: auto;
    
    display : flex;
    justify-content: center;
}

.medList {
  color: red;
}

.green{
    color : green;
}