.pillbox{
  width: 100%;
  display : flex;
  flex-direction: column;
  align-content: center;
}
.pillboxH1{
    /* text-align: center;
    margin : 20px auto; */
    
    margin-top: 0;
    margin-bottom: 40px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    text-shadow: 1px 1px 2px #5C6B73;
    line-height: 2;
    font-size: 2.5em;
    margin-right: -23px;
}


.bannierePill {
    width: 100%;
    text-align: center;
    background-color: #30d3e2b9;
    height: 87px;
}

.pillboxP{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 2em;
    color:#01e8fd;
    font-weight: 600;
    text-shadow: 1px 1px 2px #5C6B73;
    line-height: 2;
}
.pillboxP2{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 2em;
  color:#01e8fd;
  font-weight: 600;
  text-shadow: 1px 1px 2px #5C6B73;
  line-height: 2;
}
.medListContainer{
    margin: auto;
    
    display : flex;
    justify-content: center;
}

.medListContainer2{
  margin: auto;
  
  display : flex;
  flex-direction: column;
  justify-content: center;
}
.buttonPillbox{
 
  margin : 20px auto;
  background-color:  #F28737;
  font-size: 1.5em;
  font-weight: 600;
  text-align: left;
  border-radius: 8px;
  border: none;
  padding: 10px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  width: 160px;
  height: 70px;
  font-weight: bold;
}
.medList {
  color: red;
  font-size: 2em;
  font-weight: 600;
  text-shadow: 1px 1px 2px #5C6B73;
  line-height: 2;
}
.med{
  margin : 10px;
}
.medList2{
  margin : 10px auto;
  font-size: 1em;
}
.medInRed{
  color : red;
  font-size: 1em;
  padding-left: 15px;
  /*font-weight: 600;*/
  text-shadow: 1px 1px 2px #5C6B73;
  line-height: 2;
}
.medInGreen{
  color:green;
  font-size: 1em;
  padding-left: 15px;
  /* font-weight: 600; */
  text-shadow: 1px 1px 2px #5C6B73;
  line-height: 2;
}

.medInRed2{
  color : red;
  font-size: 2em;
  /*font-weight: 600;*/
  text-shadow: 1px 1px 2px #5C6B73;
  line-height: 2;
}
.medInGreen2{
  color:green;
  font-size: 2em;
  /* font-weight: 600; */
  text-shadow: 1px 1px 2px #5C6B73;
  line-height: 2;
}

.checkboxMed{
  height : 30px;
  width: 30px;
}

/* .green{
    color : green;
    font-size: 2em;
    font-weight: 600;
    text-shadow: 1px 1px 2px #5C6B73;
    line-height: 2;
} */