.pillbox{
  width: 100%;
  display : flex;
  flex-direction: column;
  align-content: center;
}
.pillboxH2{
    text-align: center;
    margin : 20px auto;
}
.pillboxP{
    text-align: center;
    margin-bottom: 20px;
}
.pillboxP2{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.medListContainer{
    margin: auto;
    
    display : flex;
    justify-content: center;
}

.medListContainer2{
  margin: auto;
  
  display : flex;
  flex-direction: column;
  justify-content: center;
}
.buttonPillbox{
  width: 100px;
  margin : 20px auto;
}
.medList {
  color: red;
}
.med{
  margin : 30px;
}
.medList2{
  margin : 20px auto;
}
.medRed{
  color : red;
}
.medGreen{
  color:green;
}

.green{
    color : green;
}