@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{margin: 0; padding: 0;}

.App {
  box-sizing: border-box;
  color: #5C6B73;
  font-weight: 400;
  font-size: 1em;
  background-color: #E0FBFC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1{
  font-weight: 600;
  text-transform: capitalize;
  font-size: 2.5em;    
  color: #fff;
  text-shadow: 1px 1px 2px #5C6B73;
  margin-top: 2vh;
  margin-left: 5vh;
  text-align: center;
}


.App-link {
  color: #F28737;
  text-decoration: none;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: 600; 
  text-shadow: 1px 1px 2px #5C6B73;
  line-height: 2;
}

.icon{
  color: #F28737;
  padding: 0;
  margin: 0;
}

